.main{
    display: flex;
}
.day{
    margin: 15px;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px black;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color:white;
    text-shadow: 0px 0px  1px black;
    font-size: 10px;
}
 .site-page-header-ghost-wrapper {
       padding: 24px;
       background-color: #f5f5f5;
     }

